body {
  background: #ddd;
}

.player {
  width: 29px;
  height: 32px;
  margin: 20px;
  background-image: url(../img/sprite.png);
  background-position-y: 64px;
}

.player.right {
  background-position-y: 64px;
}

.player.down {
  background-position-y: 0;
}
.player.left {
  background-position-y: -32px;
}
.player.up {
  background-position-y: 32px;
}

#board {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board > .row {
  display: flex;
}

#board > .row > .cell {
  width: 70px;
  height: 70px;
  border: 1px solid #000;
}

#board > .row > .cell.targetCell {
  background-color: #00ff00;
}